<div id="clearance" class="password-reset">
  <h2><%= t(".title") %></h2>

  <p><%= t(".description") %></p>

  <%= form_for :password, url: passwords_path do |form| %>
    <div class="text-field field-control">
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email', required: true %>
    </div>

    <div class="submit-field field-control">
      <%= form.submit class: "btn" %>
    </div>
  <% end %>
</div>
